.vs{
  position: fixed;
  z-index: 1;
  bottom: 10px;
  right: 10px;
}
.fns{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.valores{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
}

.card{
  border-radius: 10px;
  cursor: pointer;
  height: 80px;
  padding: 10px;
  width: 90%;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-around;
  -webkit-box-shadow: 0 -0.5px 10px 0 #898989;
  -moz-box-shadow: 0 -0.5px 10px 0 #898989;
}

.isActive{
  background-color: var(--bs-btn-hover-bg) !important;
  color: white !important;
  -webkit-box-shadow: 0 -0.5px 10px 0 var(--bs-btn-hover-bg);
  -moz-box-shadow: 0 -0.5px 10px 0 var(--bs-btn-hover-bg);
}


.tablas{
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "punto nr biss";
  gap: 5px;
}

.punto{
  grid-area: punto;
  border: 0.5px solid rgb(128, 128, 128);
  padding: 10px;
  border-radius: 10px;
}

.nr{
  grid-area: nr;
  border: 0.5px solid rgb(128, 128, 128);
  padding: 10px;
  border-radius: 10px;
}

.biss{
  grid-area: biss;
  border: 0.5px solid rgb(128, 128, 128);
  padding: 10px;
  border-radius: 10px;
}

.modal-body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content{
  min-width: max-content;
}

.modal-dialog {
  max-width: 80% !important;
}

h2{
  display: flex;
  justify-content: space-between;
}

.fnsEdit{
  margin-top: 20px;
  display: flex;
  grid-gap: 5px;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.error{
  color: red;
  font-weight:bold;
}

.btn{
  margin-top: 25px;
}

#compiladores{
  button{
    margin-top: 0px;
  }
}

