.fns{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
}
.valores{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
}

.card{
  border-radius: 10px;
  cursor: pointer;
  height: 80px;
  padding: 10px;
  width: 90%;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-around;
  -webkit-box-shadow: 0 -0.5px 10px 0 #898989;
  -moz-box-shadow: 0 -0.5px 10px 0 #898989;
}


.tablas{
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "punto nr biss";
  grid-auto-rows: 400px;
}

.punto{
  grid-area: punto;
}

.nr{
  grid-area: nr;
}

.biss{
  grid-area: biss;
}

.modal-body{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}
